.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 1920px;

  height: 100%;
  min-height: 100vh;

  /*@include m-b-down(1620px) {
    grid-template-columns: auto 600px;
  }

  @include m-b-down(1360px) {
    grid-template-columns: auto 500px;
  }*/

  &-side:first-child {
    padding-right: 10px;
  }

  .grid-side--map {
    position: relative;
    transform: translateX(0);

    .map-container {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 100vh;

      background-size: cover;
      background-position: center;
    }
  }

  &--fullwidth {
    grid-template-columns: 1fr;

    .card {
      max-width: calc(100% / 6);

      /* up/down desktop-lg(1920),desktop(1440),laptop(1140),tablet-lg(960),tablet(768),mobile-lg(534)*/
      @include m-b-down(1620px) {
        max-width: calc(100% / 4);
      }
    }

    .grid-side--map {
      transform: translateX(100vw);
    }
  }

  &-list {
    @extend .flex-wrap;

  }
}
