.card-vertical {
  position: relative;
  @extend .flex-wrap;
  align-items: center;
  width: 100%;
  padding: 10px;

  padding-right: 120px;
  border-top: 1px solid #dedede;

  &__side {
    display: flex;
    align-items: center;
    line-height: 1;

    &:nth-child(1) {
      margin-right: auto;
      padding-right: 30px;

      img {
        margin-right: 20px;
      }

      span {
        color: var(--black);
      }
    }

    &--right {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 0 10px;
      color: var(--black) !important;

      img {
        max-height: 15px;
        object-fit: contain;
      }

      &--column {
        @extend .flex-column;
        align-items: flex-start;

        span {
          display: block;
          margin-bottom: 6px;
        }
      }
    }
  }
}
