.card {
  /*width: 100%;
  max-width: 300px;*/
  flex-grow: 1;
  max-width: calc(100% / 3);
  padding: 10px;

  /* up/down desktop-lg(1920),desktop(1440),laptop(1140),tablet-lg(960),tablet(768),mobile-lg(534)*/
  @include m-b-down(1600px) {
    max-width: 50%;
  }

  address {
    font-style: normal;
  }

  &__preview-image {
    width: 100%;
    height: auto;
    max-height: 240px;
    /*max-width: 280px;
    height: 100%;
    max-height: 180px;*/
    object-fit: contain;
  }

  &__marketplace-icon {
    width: 100%;
    height: 100%;
    max-height: 20px;
    object-fit: contain;
  }

  &__metro-icon {
    margin-right: 5px;
    fill: var(--skyblue);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;

    &-side {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      button:first-child {
        margin-left: 0;
      }
    }

    &-side:nth-child(1) {
      margin-right: auto;
      padding-right: 10px;
    }
  }
}
