.sort {
  display: flex;
  align-items: center;
  margin: 0 10px;

  &__btn {
    @extend .btn-reset;
    @extend .flex-centered-content;
    margin-right: 10px;

    &.active {
      text-decoration: underline;
      cursor: initial;
    }
  }

  svg {
    fill: #2A2A2A;
  }

  @include m-b-down(1750px) {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
