/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --main-font: "Lato", sans-serif;

    --content-width: 1800px;
    --content-fluid-width: 1790px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

    // colors
    --white: #fff;
    --black: #000000;

    --success: #4caf50;
    --info: #757575;
    //--warning: #e0e0e0;
    --danger: #c34b3f;;
    --light: #cdced0;
    --dark: #333333;

    --skyblue: #8eb3f5;

    --main-bg: var(--light);
    --main-color: var(--dark);
    --main-bg-color: var(--white);
    --main-transition: .25s ease-in;

    // scrollbar
    --main-scrollbar-width: 6px;
    --main-scrollbar-color: var(--light);
    --main-scrollbar-thumb-color: var(--dark);
  }
