.card
  a(href="#" data-modal-anchor="about").card__row
    img(src="./assets/img/object-img.png" alt="" width="280" height="180").card__preview-image

  .card__row
    .card__row-side
      span.lw-text.lw-text--sm.lw-text--fw-bold 49 500 000 р.

    .card__row-side
      button.lw-btn-xs
        svg(width="14" height="14")
          use(xlink:href="./assets/sprite.svg#icon-plus")
      button.lw-btn-xs
        svg(width="16" height="16")
          use(xlink:href="./assets/sprite.svg#icon-pen")
      button.lw-btn-xs
        svg(width="16" height="16")
          use(xlink:href="./assets/sprite.svg#icon-clock")
      button.lw-btn-xs.lw-btn-xs--accent
        svg(width="20" height="10")
          use(xlink:href="./assets/sprite.svg#icon-pdf")
      button.lw-btn-xs.lw-btn-xs--noborder.lw-btn-xs--transparent
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-heart")

  .card__row
    img(src="./assets/img/marketplace-logo.png" alt="Авито" width="70" height="20")
  .card__row
    span.lw-text.lw-text--light Продается
  .card__row
    span.lw-text.lw-text--fw-medium Помещение свободного назначения в Свердловская область, Екатеринбург ул. Крестинского, 6 (430.8 м) • 430.8 кв. м • 1 /25
  .card__row
    svg(width="20" height="20").card__metro-icon
      use(xlink:href="./assets/sprite.svg#icon-metro")
    span.lw-text.lw-text--sm Петроградская

  .card__row
    address.lw-text.lw-text--light Санкт-Петербург, Колпинский р-н, Колпино, пр-т Ленина, 16/11

  .card__row
    span.lw-text 89819201791

  .card__row
    span.lw-text.lw-text--md.lw-text--underlined Собственник

  .card__row
    span.lw-text.lw-text--xs.lw-text--light 29-07-2023
