a(href="#")
  .card-vertical
    .card-vertical__side.card-vertical__side--left
      img(src="./assets/img/object-img.png" alt="" width="76" height="50")
      span.lw-text Помещение свободного назначения

    .card-vertical__side.card-vertical__side--right

      .card-vertical__side-item
        img(src="./assets/img/marketplace-logo.png" alt="Авито" width="42" height="12")
      .card-vertical__side-item
        span.lw-text.lw-text--xs.lw-text--light 29-07-2023
      .card-vertical__side-item
        span.lw-text.lw-text--sm.lw-text--fw-bold 49 500 000 р.
      .card-vertical__side-item.card-vertical__side-item--column
        span 42м2
        span 10 этаж из 10
      .card-vertical__side-item
        button.lw-btn-xs.lw-btn-xs--accent
          svg(width="20" height="10")
            use(xlink:href="./assets/sprite.svg#icon-pdf")
        button.lw-btn-xs.lw-btn-xs--noborder.lw-btn-xs--transparent
          svg(width="24" height="24")
            use(xlink:href="./assets/sprite.svg#icon-heart")
        button.lw-btn-xs.lw-btn-xs--noborder.lw-btn-xs--transparent.lw-icon-bg-light
          svg(width="18" height="18")
            use(xlink:href="./assets/sprite.svg#icon-menu")
