.info
  .info__row
    .info__row-side
      h2.lw-text.lw-text--lg 3-к. квартира, 41 м, 1/5 эт.

    .info__row-side
      button.lw-btn-xs.lw-btn-xs--accent
        svg(width="20" height="10")
          use(xlink:href="./assets/sprite.svg#icon-pdf")

      img(src="./assets/img/marketplace-logo.png" alt="Авито" width="42" height="12").marketplace-img

      button.lw-btn-xs.lw-btn-xs--noborder.lw-btn-xs--transparent
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-heart")

  .info__row
    button.lw-btn-xs.lw-btn-xs--vk
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-vk")

    button.lw-btn-xs
      svg(width="16" height="16")
        use(xlink:href="./assets/sprite.svg#icon-download")
    button.lw-btn Задачи

    button.lw-btn Автопоиск

  .info__row
    span.lw-text.lw-text--fw-medium Свердловская область, Екатеринбург,Московская ул., 48А

  .info__row
    svg(width="20" height="20").card__metro-icon
      use(xlink:href="./assets/sprite.svg#icon-metro")
    span.lw-text.lw-text--sm Петроградская

  .info__row
    .info__row-side
      span.lw-text.lw-text--light Продается

    .info__row-side.info__row-side--date
      .info__date
        svg(width="18" height="18")
          use(xlink:href="./assets/sprite.svg#icon-calendar")
        span.lw-text.lw-text--xs.lw-text--light 15 января 2022 18:34

  .chars
    .chars__field
      span.lw-text.lw-text--light Цена:
      span.lw-text.lw-text--lg 13 990 000 р.

    .chars__field
      span.lw-text.lw-text--light Телефон:
      span.lw-text.lw-text--lg +79618000030
      span.lw-text.lw-text--light Зуева Надежда Павловна

  .chars
    .chars__field
      span.lw-text.lw-text--sm Общая информация:
      ul.chars__list
        li.chars__list-item
          span.lw-text.lw-text--light Общая площадь:
          span.lw-text.lw-text--light 53м2

        li.chars__list-item
          span.lw-text.lw-text--light Площадь комнат:
          span.lw-text.lw-text--light 28м2

        li.chars__list-item
          span.lw-text.lw-text--light Площадь кухни:
          span.lw-text.lw-text--light 8м2

        li.chars__list-item
          span.lw-text.lw-text--light Этаж:
          span.lw-text.lw-text--light 1 из 24

        li.chars__list-item
          span.lw-text.lw-text--light Тип сделки:
          span.lw-text.lw-text--light Продажа

        li.chars__list-item
          span.lw-text.lw-text--light Комиссия встречному агенту:
          span.lw-text.lw-text--light 0.00% - 0 руб.

    .chars__field
      span.lw-text.lw-text--sm Информация о доме:
      ul.chars__list
        li.chars__list-item
          span.lw-text.lw-text--light Тип:
          span.lw-text.lw-text--light Кирпичный

        li.chars__list-item
          span.lw-text.lw-text--light Год постройки:
          span.lw-text.lw-text--light 2020

  .info__row
    p.info__desc Описание:
    p.info__text Продаётся уютная 3-комнатная квартира в центре города. Дом расположен очень удобно: детская поликлиника в соседнем доме, садик, школа, университеты в 500 м. В пешей доступности торговые центры, супермаркеты. В кирпичном доме зимой тепло, а летом- прохладно. Квартира очень просторная с высокими потолками. В квартире сделан космический ремонт. Установлены счётчики. Продаётся с кухонным гарнитуром. Остальная мебель- по договорённости. Это то, что Вы искали! Вам понравится эта квартира. Заезжай и живи!

  .map-container
    img(src="./assets/img/map-modal.png" alt="Карта" width="100%" height="440px")

