header.header
  .lw-container
    .header__side
      span.object-count Показано: <span>85</span>вариантов

    .header__side
      .sort
        button.sort__btn.active По дате добавления

        button.sort__btn По цене

        svg(width="16" height="16")
          use(xlink:href="./assets/sprite.svg#icon-sort")

      .view-toggler
        button(aria-label="Показать плиткой").active
          svg(width="24" height="24")
            use(xlink:href="./assets/sprite.svg#icon-card-view")

        button(aria-label="Показать таблицей")
          svg(width="20" height="20")
            use(xlink:href="./assets/sprite.svg#icon-table-view")

      button.map-view-btn Показать карту
